#register-form {
    margin: 7rem auto;
    width: 90%;
    max-width: 40rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem;
  }
  
  #register-form button {
    font: inherit;
    background-color: rgb(65, 65, 203);
    color: white;
    border: 1px solid rgb(65, 65, 203);
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
  }
  
  #register-form button:hover,
  #register-form button:active {
    background-color: rgb(105, 105, 253);
    border-color: rgb(105, 105, 253);
  }
  
  .form-control {
    margin-bottom: 1rem;
  }
  
  .form-control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .form-control input,
  .form-control textarea {
    display: block;
    width: 100%;
    font: inherit;
    padding: 0.25rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .errorlist {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    color: #d6000b;
  }
  
  .invalid label {
    color: #d6000b;
  }
  
  .invalid input,
  .invalid textarea {
    border-color: #d6000b;
    background-color: #ffe6e7;
  }
  
  #alert {
    margin: 8rem auto 3rem auto;
    border: 1px solid #d6000b;
    background-color: #ffe6e7;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
  }
  
  #alert a {
    text-decoration: none;
    border: 1px solid #d6000b;
    background-color: #d6000b;
    color: white;
    padding: 0.25rem 1.5rem;
    border-radius: 6px;
  }